<!DOCTYPE html>
<html class="wf-proximanova-n3-active wf-proximanova-n4-active wf-proximanova-i4-active wf-proximanova-n7-active wf-proximanova-i7-active wf-active"><head><%- include head.html%>
<style type="text/css">
	img  {max-width: 90%;}
</style>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
	<%- include facebook.html %>
	<div class="container">

		

		      <%- include header.html %>

		      <!-- Main component for a primary marketing message or call to action -->
		      <h2 style="text-align:center">Daily Report</h2>
		      	<%for(i=0;i<data.length;i++){%>
		      <div class="well" style="text-align:center">
		      	<%if(data[i].view_type=='recommendation'){%>
		      		<h4><%=data[i].text%></h4>
		      		<div class="fb-like" data-href="http://www.babyduty.co/" data-width="100" data-layout="button_count" data-show-faces="false" data-send="true"></div>
		      		<%if(data[i].url){%>
                <div>
                    <img src="<%=data[i].url%>"/>
                </div>
              <%}%>
		      	<%}%>
		      	<%if(data[i].view_type=='question'){%>
		      		<h4><%=data[i].text%></h4>
		      		<div class="fb-like" data-href="http://www.babyduty.co/" data-width="100" data-layout="button_count" data-show-faces="false" data-send="true"></div>
		      		<div>
			      		<%if(data[i].url){%>
	                  <img src="<%=static%><%=data[i].url%>"/>
	              <%}%>
	            </div>
		      		<div style="padding:20px;"><button class="btn btn-lg btn-success">Answer</button></div>
		      	<%}%>
		      	<%if(data[i].view_type=='milestone'){%>
		      		<h4><%=data[i].name%></h4>
		      		<div class="fb-like" data-href="http://www.babyduty.co/" data-width="100" data-layout="button_count" data-show-faces="false" data-send="true"></div>
		      		<div><%=data[i].text%></div>
		      		<div>
			      		<%if(data[i].url){%>
	                  <img src="<%=static%><%=data[i].url%>"/>
	              <%}%>
	            </div>
		      	<%}%>
		      	<%if(data[i].view_type=='dailyReport'){%>
		      		<h4><%=data[i].name%></h4>
		      		<div class="fb-like" data-href="http://www.babyduty.co/" data-width="100" data-layout="button_count" data-show-faces="false" data-send="true"></div>
		      		<div><%=data[i].text%></div>
		      		<div>
			      		<%if(data[i].url){%>
	                  <img src="<%=static%><%=data[i].url%>"/>
	              <%}%>
	            </div>
		      	<%}%>
		      </div>
		      <%}%>
		
	</div>


</body></html>