<!DOCTYPE html>
<html class="wf-proximanova-n3-active wf-proximanova-n4-active wf-proximanova-i4-active wf-proximanova-n7-active wf-proximanova-i7-active wf-active"><%- include head.html%>
<style type="text/css">
	img  {max-width: 90%;}
</style>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" style="background-image: url(/img/hands.jpg);background-size: 100%; background-repeat:no-repeat;display: compact;text-align:center;color:#111;">
	<div class="container">
	 	<%- include header.html %>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="well-small">
      <h4 style="font-weight:normal;padding-top:20px;">$20 Changes 20 Lives</h4>
      <p style="background-color: rgba(1,1,1,.25);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color:#fff;padding: 5px;font-weight:normal;width:90%;margin:0 auto;margin-top:50px; ">
      	Create a monthly donation schedule, then start touching lives of amazing individuals.
      <p>
      <p>
      	<a class="btn btn-lg btn-danger" style="margin-top:20px;" href="/campaigns">BROWSE CAMPAIGNS</a>
      </p>
      <p>
        <a class="btn btn-lg btn-info" style="margin-top:20px;" href="/login">LOGIN</a>
      </p>
    </div>
	</div>


</body></html>