<!DOCTYPE html>
<html class="wf-proximanova-n3-active wf-proximanova-n4-active wf-proximanova-i4-active wf-proximanova-n7-active wf-proximanova-i7-active wf-active"><head><%- include head.html%>
</head>
    <body>
        <%- include facebook.html %>
        <div class="container">
            <div class="row">
                <%- include header.html %>
            </div>

            <div class="row">
                <!-- Begin LaunchRock Widget -->
                <div id="lr-widget" rel="IUJAOEKT"></div>
                <script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
                <!-- End LaunchRock Widget -->
            </div>
        </div>
    </body>
</html>


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add a milestone</h4>
      </div>
      <div class="modal-body add-milestone-modal">
        <form role="form">
          <div class="form-group">
            <label for="milestone_name">Title</label>
            <input type="text" class="form-control" id="milestone_name" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="milestone_description">Description</label>
            <input type="text" class="form-control" id="milestone_description" placeholder="Description">
          </div>
          <div class="form-group">
            <label for="milestone_file">File input</label>
            <input type="file" id="milestone_file">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="add-milestone">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->